.MovieCard {
  text-decoration:none;
  text-align: center;
  margin: 16px;
  color: rgb(54, 54, 54)
}

.MovieCard:hover {
  transform: scale(1.02);
  color: rgba(54, 54, 54, 0.6)
}

.MovieCard .movie-poster {
 object-fit: contain;
}

.movie-card-body {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}