.logo {
  height: 40px
}

.navbar-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.75rem
}

.navbar-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
}

.Navbar {
  width: 100vw;
  height: 4.5rem;
  background-color: rgb(255, 222, 89);
  z-index: 1;
}

.buttons {
  margin-bottom: 16px;
}

.navbar-links {
  display:flex;
  flex-direction: row;

}

.navbar-ul {
  display:flex;
  flex-direction: row;
  list-style: none;
}

.navbar-avatar {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 50%;
}
