.logo {
  height: 40px
}

.navbar-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.75rem
}

.Navbar {
  width: 100vw;
  height: 4.5rem;
  background-color: rgb(255, 255, 255);
  border-bottom: 2px solid rgb(107, 104, 104);
}

.search-form {
  width: 35vw;
  height: 2.5rem;
  padding: 16px;
  margin-bottom: 16px;
  border: 0.5px solid rgb(107, 104, 104);
  border-radius: 4px;
  box-shadow: 3px 4px 7px 0px rgba(176,174,176,0.74);
  margin-right: 8rem
}

.buttons {
  margin-bottom: 16px;
}