

.movie-cover {
  height: 65vh;
  box-shadow: inset 0 0 0 1000px rgb(0, 0, 0, .6);
  background-position: 50% 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: white;
  padding: 24px 6rem;
}

.movie-cover img {
  height: 420px;
  border-radius:6px;
  box-shadow: 5px 5px 5px rgba(255, 255, 255, .3), -5px -5px 5px rgba(255, 255, 255, .3);
}

.movie-cover img:hover {
  transform: scale(1.02);

}

.movie-cast-social {
  max-width:80vw;
  margin-left: 2rem;
}

.movie-cover-info {
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-around;
}

.movie-cover-info h5 {
  color: rgba(255,255,255,.8);
  margin-bottom: 2rem;
}

.movie-title {
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  line-height: 0;
}

.movie-title-genres {
  display: flex;
  flex-direction: row;

}
.movie-genres {
  margin: 0 5px;
}

.movie-title-genres div {
  display: flex;
  flex-direction: row;
}
.movie-title-genres div  p{
  padding: 0 3px
}


.movie-button-trailer {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items:baseline;
}

.movie-button-trailer p span {
  font-size: 24px;
}

.movie-button-trailer button {
  height: 2rem;
  margin: 0 1.5rem;
  background-color: rgb(255, 222, 89);
  border-radius: 5px;
  padding: 8px;
}

.movie-overview {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.movie-overview h6{
  font-size: larger;
}

.movie-overview p {
  text-align: justify;
}

.movie-info {
  margin-top:2rem; 
  width: 95vw;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.social-links {
  display: flex;
  flex-direction: row;
  align-items: left;
  list-style: none;
  padding:0;
}

.social-links li a {
  padding: 0 8px;
}

.movie-link {
  height: 30px;
  width: 30px;
  color: rgb(54, 54, 54)
  
}

.homepage-border {
  padding-left: 8px;
  border-left: 1px solid rgb(54, 54, 54);
  margin-left: 8px;
}

.movie-social-media {
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2.5rem 0 0 1.8rem;
}

.social-media {
  padding: 0;
  margin: 0;
}

.budget {
  display:flex;
  flex-direction:column;
}

.budget div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.cast-card-image {
  height: 300px;
  border-top-left-radius: 8px;
  border-top-right-radius:8px;
}

.movie-cast-card {
  margin: 0 7px;
  border-radius: 8px;
}

.movie-cast-card:hover {
  transform: scale(1.02);
  border-radius:8px
}

.movie-cast-card a {
  text-decoration: none;
  color: rgb(54, 54, 54)
}

.movie-cast-card a:hover {
  color: rgb(54, 54, 54, .6);
}

.movie-cast-slider {

  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
}