.Login {
  height: 80vh;
  background-color: rgba(255, 222, 89, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;

}

.Login-container {
  height: 76vh;
  width: 30vw;
  background-color: rgb(255, 255, 255);
  border-radius: 6px;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  
}

.Login-header {
  height: 132px;
  background-color:rgba(255, 222, 89);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  padding-top: 1.75rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.Login-form {
  padding: 4rem 2rem 0;
}

.logo {
  padding-left: 2.5rem;
}

.form-input {
  height: 5rem;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content: center;
  position: relative;
}

.Input {
  width: 100%;
  height:3rem;
  border: 0;
  padding-top: 1.9rem;
  padding-left: 8px;
  border-bottom: 2px solid rgb(54, 54, 54)
}

.Input:focus {
  background-color: rgba(255, 222, 89, 0.3);
  outline: none;
  border-bottom:3px solid rgba(255, 222, 89);
  border-radius: 4px;
}

.Label {
  position: absolute;
  padding-bottom: 1.9rem;
  padding-left: 8px;
}

/* .avatar-form > label {
  padding-left: 100px;
  position:sticky;
} */

.Login-btn {
  border-radius: 4px;
  background-color: rgba(255, 222, 89);
  border: none;
  color: rgb(54, 54, 54);
  text-align: center;
  font-size: 20px;
  padding: 5px 20px;
  width: 140px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 30px 0 15px;
}

.Login-btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.Login-btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.Login-btn:hover span {
  padding-right: 25px;
}

.Login-btn:hover span:after {
  opacity: 1;
  right: 0;
}

.signup-link {
  display: flex;
  justify-content: center;
  margin-top: 4rem

}

.signup-link > p {
  margin-right: 16px;
}