.TVShowCard {
  
  margin: 16px;
}

.TVShowCard:hover {
  transform: scale(1.02);
  color: rgba(54, 54, 54, 0.6)
}

.TVShowCard a {
  text-decoration:none;
  text-align: center;
  color: rgb(54, 54, 54)
}

.TVShowCard a:hover {
  color: rgba(54, 54, 54, 0.6)
}


.TVShowCard .movie-poster {
 object-fit: contain;
}